  <div class="superheroes">
    <ng-container *ngFor="let superhero of superheroes">
      <div class="superhero" (click)="openSuperHeroDetails(superhero.id)">
        <div class="superhero-thumb-container">
            <img 
            *ngIf="superhero.images"
            src="{{superhero.images.sm}}"
            alt="thumbnail"
            class="superhero-thumbnail"
            />
          <p *ngIf="!superhero.images">No Image</p>
        </div>
        <div class="superhero-description">
            <p class="superhero-name">{{superhero.name}}</p>
        </div>
      </div>
  </ng-container>
</div>
