.details-wrapper {
  max-width: 900px;
  margin: 20px auto;
  position: relative;
}

.details {
  ::ng-deep mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;

    .dial {
      stroke-width: 10;
    }

    .value {
      stroke-dasharray: none;
      stroke-width: 13;
    }

    .value-text {
      fill: #fff;
      font-weight: 700;
      font-size: 24px;
    }
  }
}

.superhero {
  &-banner {
    height: 442px;
    overflow: hidden;

    &-img {
      width: 100%;
      filter: blur(5px);
    }
  }

  &-content {
    text-align: center;
    position: relative;
    top: -200px;
  }

  &-header {
    &-title {
      font-size: 70px;
      color: #fff;
      font-weight: 700;
      line-height: 70px;
      white-space: nowrap;
    }

    &-alighnment {
      color: #fff;
      font-weight: 700;
    }

    &-powerstats {
      color: #fff;
      font-weight: 700;
    }
  }
}

button {
  border: none;
  outline: none;
  background: #3f51b5;
  padding: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    color: #3f51b5;
    background-color: #fff;
    border: 1px solid #3f51b5;
  }
}
